<div id="article-id-{{$ctrl.article.id}}" class="small-article__container">
  <div class="small-article__info-container col-sm-4">
    <img class="small-article__image" src="{{$ctrl.article.image.placeholder}}" ng-src="{{$ctrl.article.image.image}}" />


  </div>
  <div class="col-sm-8">
    <a class="small-article__title" href="/nyheter/{{$ctrl.article.id}}">
      <h2 ng-bind-html="$ctrl.article.title"></h2>
    </a>
    <div class="small-article__author-date">
      <div class="small-article__author">
        <span class="sr-only capital-first" translate="AUTHOR"></span>
        <span class="sr-only">:</span> <span ng-bind-html="$ctrl.article.user.name"></span>
      </div>
      <div class="small-article__date">
        <span class="sr-only capital-first" translate="PUBLISHED"></span> {{$ctrl.article.publishDate | date:'HH:mm dd.MM.yy'}}
      </div>
    </div>
    <div class="small-article__content-container">
      <p class="small-article__ingress" ng-bind-html="$ctrl.article.ingress"></p>
    </div>

  </div>


</div>

<!-- <div id="297"
  class="article-wrapper news-article">
  <div class="article article-img">

    <img alt=" "
      title=" "
      class="lazy"
      data-original="//static.avexis.no/static/fjellkam/resources/fjellkamlogo.png"
      src="//static.avexis.no/static/fjellkam/resources/fjellkamlogo.png"
      style="display: block;">
    <noscript>
      &lt;img alt=" " title=" " src="//static.avexis.no/static/fjellkam/resources/fjellkamlogo.png" /&gt;
    </noscript>
  </div>
  <div class="article">
    <div class="icons">

    </div>

    <h2 class="article-header">
									<a href="/nyheter?n=297">Tim Hidskes er vår nye hovedtrener</a>
								</h2>
      <span class="author">Skrevet av Ragnhild Ådland.
									<span class="published" original-title="29.06.2016 14:56">Publisert
										29.6.2016.</span> </span> <span class="article-text"><h3>Etter over et halvt års jobbing, forhandling og til slutt avtaleinngåelse på tvers av landegrenser er det endelig helt klart at Tim Hidskes skal fungere som ny trener for 1.laget til Fjell-Kameraterne.</h3>
</span>
      <br>
      <a class="show-more" href="/nyheter?n=297"> <span class="uu">Tim Hidskes er vår nye hovedtrener </span>Les mer »
      </a>
  </div>
</div> -->