<div class="article-list__container">
  <fjellkam-small-article ng-repeat="article in $ctrl.articleList" article="article"></fjellkam-small-article>
</div>
<fjellkam-loader ng-show="$ctrl.loading"></fjellkam-loader>

<div class="pagination__container">
  <a href="javascript:void(0)" ng-if="$ctrl.currentPage > 0" ng-click="$ctrl.goToFirstPage($event)"></a>
  <a href="javascript:void(0)" ng-if="$ctrl.currentPage > 0" ng-click="$ctrl.goToPreviousPage($event)"></a>
  <a href="javascript:void(0)" ng-if="$ctrl.currentPage < lastPage" ng-click="$ctrl.goToNextPage($event)"></a>
  <a href="javascript:void(0)" ng-if="$ctrl.currentPage < lastPage" ng-click="$ctrl.goToLastPage($event)"></a>
</div>